html {
    scroll-behavior: smooth; 
  }

.body {
    border: none;
    margin: 0; padding: 0;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;

    min-height: 100vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.body-head {
    //*height: 80;
   //*background-color: rgba(79, 122, 106, 0.7); *//
    //*border: 1px solid red;*//
    margin: 0; padding: 0;
    color: #ffffff;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .left-colomn {
      border: none;
      background-color: rgba(79, 122, 106, 0.7);
      width: 30%;
      color: #ffffff;;
      padding-bottom: 30px;
}

    .right-colomn {
        margin-block-start: 10px;
         border: none;
         width: 65%; 
}

.footer {
    border: none;
    margin: 0; padding: 0;
    background-color: rgba(79, 122, 106, 0.7);
}


.aside {
    
}
.avatar {
   margin-block-start: 30px;
    width: 50%;
    margin-left: 25%;
   }

.h1 {
    font-size: 32px;
    line-height: 0.0;
    text-align: center;
}

.h2 {
    margin-left: 5%;
    font-size: 24px;
}

.profession {
    margin-bottom: 20px;
    text-align: center;
}

.text {
    margin-left: 5%;
}

.code {
    margin-left: 5%;
    background-color: #EBEBEB;
}

.nav {
    background-color: rgba(79, 122, 106, 0.85); 
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    list-style: none;
  }

.nav-item {

}

.nav-link {
    color: #ffffff;
    padding: 0 20px;
    line-height: 20px;
    transition: .3s;
    text-decoration: none; 
}

 a:hover {
    text-decoration: underline;
 }