html {
    scroll-behavior: smooth; 
  }

.body {
    border: 1px solid red;
    margin: 0; padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-head {
    height: 80;
    //*background-color: rgba(79, 122, 106, 0.85); *//
    border: 1px solid red;
    margin: 0; padding: 0;
    max-width: 1440px;
    margin: 0 auto;
    color: #ffffff;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

.footer {
    border: 1px solid red;
    margin: 0; padding: 0;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(79, 122, 106, 0.85);
}

.left-colomn {
    border: 1px solid rgb(0, 255, 17);
    background-color: rgba(79, 122, 106, 0.7);
    width: 30%;    
    color: #ffffff;;
}

.right-colomn {
    border: 1px solid rgb(0, 76, 255);
     width: 68%; 
     float: right;
}

.avatar {
    margin: 0; padding: 0;
}

.h1 {
    font-size: 32px;
    line-height: 0.0;
}

.h2 {
    font-size: 24px;
}

.profession {
    margin-bottom: 40px;
}
.nav {
    background-color: rgba(79, 122, 106, 0.85); 
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    list-style: none;
  }

.nav-item {

}

.nav-link {
    color: #ffffff;
    padding: 0 20px;
    line-height: 50px;
}